* {
  margin: 0;
  padding: 0;
}

html {
  /*font-size: 20px;*/
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.pai {
  /*font-size: 50px;*/
  width: 50rem;
  height: 100vh;
  background: yellow;
  overflow: hidden;
}

.pai > div {
  /*font-size: 50px;*/
  width: 50%;
  height: 50rem;
  background: blue;
}

p {
  font-size: 2vmax;
}

.color-one {
  background: turquoise;
}

.color-two {
  background: violet;
}

/*em -> faz com que o elemento se comporte baseado em um elemento pai*/
/*rem -> faz com que o elemento se comporte baseado no elemento root (no caso, o html)*/